.wrapper {
	text-align: center;
}

body {
	background-image: url("../img/bg.png");
}

button {
	font-variant: small-caps;

	color: #efefef;
	background: #222;
	border: 0;
	text-shadow: 0 1px 3px black, 0 0 1px black;

	height: 50px;
	/*width: 180px;*/
	font-size: 40px;
	line-height: 40px;

	font-weight: bold;
	font-family: sans-serif;

	cursor: pointer;
}

.button {
	position: absolute;
	top: 50%;

	margin: -25px -90px;
}

.share-button {
	margin: 0 auto 50px;
	display: block;
}

button:hover {
	background: url("../img/b.gif");
}

button:active {
	line-height: 50px;
}

.dis {
	background: #888;
	color: #999;
	font-size: 25px;
}

.dis:hover {
	background: #888;
}

.dis:active {
	background: #888;
}

.loading {
	display: inline-block;
	visibility: hidden;
	position: absolute;
	top: 50%;
	opacity: 0;

	
	width: 300px;
	height: 100px;

	margin: 50px -150px;
}

.loading > p {
	font-weight: bold;
	font-family: sans-serif;
	color: #efefef;
	text-shadow: 0 1px 3px black, 0 0 1px black;
	font-size: 40px;
}

.wall {
	width: 850px;
	margin: 0 auto 50px;
}

.wall img {
	margin: 5px;
}

a img {
	border: none;
}